<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Mais Categorias  
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
      <ul>
     <% Category.all.each do |category| %>
                     <li role="presentation" class="groups_side_menu">
                        <%= link_to "#{category.name}", category_path(category) %>
                        <span class="label label-default"><%= category.pois.count %></span>
                    </li>
    <% end %>
       </ul>
      </div>
    </div>
  </div>

    </div>

