<footer class="footer">
  <div class="footer-column">
    <div class="footer-links">
      <nav class="footer-links-misc">
        <!-- <a href="#">Termos de Uso</a> -->
        <!-- <a href="#">Política de Privacidade</a> -->
         <a href="/guia-captacao-eventos.pdf">Guia de Captação de Eventos</a>
      </nav>
      <nav class="footer-links-social">
        <!-- <a href="#">
          <%#= image_tag 'front_end/icons/facebook.svg', class: 'footer-links-icon' %>
        </a> -->
        <!-- <a href="#">
          <%#= image_tag 'front_end/icons/instagram.svg', class: 'footer-links-icon' %>
        </a> -->
        <!-- <a href="#">
          <%#= image_tag 'front_end/icons/youtube.svg', class: 'footer-links-icon' %>
        </a> -->
      </nav>
    </div>
    <div class="footer-fine-print">
      <a href="http://www.campinas.sp.gov.br/" class="footer-credit">
        <%= image_tag '/images/front_end/brasao-campinas.svg', alt: 'Prefeitura de Campinas' %>
      </a>
      <div class="footer-copyright">
        © Copyright - Prefeitura Municipal de Campinas
      </div>
    </div>
  </div>
  <div class="footer-facebook">
    <div data-href="https://www.facebook.com/conhecacampinas" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" class="fb-page"></div>
  </div>
</footer>